:root{
    --violet:hsl(257, 40%, 49%);
    --softMagenta:hsl(300, 69%, 71%);
}
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--violet);
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////Header starts here ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

#header{
    /* border: 2px solid black; */
    display: flex;
    padding: 2rem 4rem;
}

.logoContainer svg{
   width: 12rem;
   /* border: 2px solid white; */
}

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////Main section starts here //////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

#main{
    /* border: 2px solid black; */
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    width: 100%;
}
.mockup{
    position: relative;
    /* border: 2px solid white; */
    margin:0 1.26rem;
}
.mockup img{
    width: 42rem;
}
.intro{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* margin-right: 10rem; */
    width: 29rem;
    /* border: 2px solid white; */
}
.intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    color: white;
    margin-bottom: 0;
}
.intro p{
    font-family: 'Open sans', sans-serif;
    color: rgba(255, 255, 255, 0.808);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// The register button //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////*/

#register{
    border: none;
    width: 11rem;
    height: 3.2rem;
    background-color: white;
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    font-weight: 580;
    border-radius: 1.5rem;
    color: var(--violet);
    box-shadow: 6px 6px 10px rgba(63, 62, 62, 0.603);
}

#register:hover{
    background-color: var(--softMagenta);
    color: white;
    cursor: pointer;
}


#media-icons{
   padding: 1rem;
   text-align: right;
   margin: 1rem 5rem;
}
#media-icons .ionicon{
   fill: white;
   width: 20px;
   border: 2px solid white;
   border-radius: 50%;
   padding: 7px;
   margin: 4px;
}

#media-icons svg:hover{
    fill: var(--softMagenta);
    border-color: var(--softMagenta);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(240, 100%, 100%);
  }

/* For tablets and small screen computers */
@media only screen and (max-width:1240px) 
{
     .intro{
         display: flex;
         text-align: center;
         justify-content: center;
         align-items: center;
     }
     .mockup img{
        width: 30rem;
    }
     .intro h1{
         font-size: 1.8rem;
     }
     #media-icons{
        display: flex;
        align-items: center;
        justify-content: center;
     }    
}
/* For small screens and smartphones */
@media only screen and (max-width:710px) 
{   
    body{
        background-image: url(images/bg-mobile.svg);
    }
    .intro h1{
        font-size: 1.2rem;
    }
    .mockup img{
        width: 20rem;
    }
}